* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html {
  font-size: 36px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  max-width: 400px;
  gap: 0.5rem;
}

.ColorSquare {
  display: grid;
  min-height: 400px;
  width: 400px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.25rem;
  place-content: center;
}

.ColorSquare p {
  text-align: center;
}

form {
  width: 400px;
}

label {
  position: absolute;
  left: -99999px;
}

form input[type="text"] {
  width: 100%;
  font-size: 1rem;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.25rem;
}

button {
  width: 100%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px black;
  padding: 0.25rem;
}